body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  font-feature-settings: "calt" on, "liga" on;
  font-language-override: "DFLT";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
}

*:focus-visible {
  outline: none
}

* {
  user-select: none;
}

@font-face { 
  font-family: "ChironSungHK-cangjie-It"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-cangjie-It.woff') format("woff"); 
}
@font-face { 
  font-family: "ChironSungHK-cangjie"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-cangjie.woff') format("woff"); 
}
@font-face { 
  font-family: "ChironSungHK-Noto-lshk-It"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-Noto-lshk-It.woff') format("woff"); 
}
@font-face { 
  font-family: "ChironSungHK-Noto-lshk"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-Noto-lshk.woff') format("woff"); 
}

@font-face { 
  font-family: "ChironSungHK-Noto-yale-It"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-Noto-yale-It.woff') format("woff"); 
}

@font-face { 
  font-family: "ChironSungHK-Noto-yale"; 
  src: url('https://fonts.chunlaw.io/ChironSungHK-Noto-yale.woff') format("woff"); 
}
